<p id="notice"><%= notice %></p>

<h1>Listing Comandas</h1>

<table>
  <thead>
    <tr>
      <th>Idcomanda</th>
      <th>Idfuncionario</th>
      <th>Mesa</th>
      <th>Dataabertura</th>
      <th>Dataencerramento</th>
      <th>Valorfinal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comandas.each do |comanda| %>
      <tr>
        <td><%= comanda.idcomanda %></td>
        <td><%= comanda.idFuncionario %></td>
        <td><%= comanda.mesa %></td>
        <td><%= comanda.dataAbertura %></td>
        <td><%= comanda.dataEncerramento %></td>
        <td><%= comanda.valorFinal %></td>
        <td><%= link_to 'Show', comanda %></td>
        <td><%= link_to 'Edit', edit_comanda_path(comanda) %></td>
        <td><%= link_to 'Destroy', comanda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comanda', new_comanda_path %>
