<p id="notice"><%= notice %></p>

<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-blue-sunglo">
			<span class="caption-subject bold uppercase">Lista de pedidos</span>
		</div>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Funcionário</th>
				<th>Comanda</th>
				<th>Produto</th>

				<th>Hora do pedido</th>
				<th>Hora finalização</th>
				<th>Cancelado</th>
				<th>Opções</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @pedidos.each do |pedido| %>
				<tr>
					<td><%= pedido.idFuncionario %></td>
					<td><%= pedido.idcomanda %></td>
					<td><%= pedido.idProduto %></td>
					<td align = "center"><%= pedido.dataPedido.strftime("%H:%M")%></td>
					<td align = "center">
						<%if (pedido.dataFinalizacao != nil)%>
							<%= pedido.dataFinalizacao.strftime("%H:%M") %>
						<%end%>
					</td>
					<td><%= pedido.cancelado %></td>
					
					<td align = "right"> <a href = <%= pedido_show_path(pedido)%>> <span class="glyphicon glyphicon-log-in" title="Detalhes"> </a></td>
					<td align = "center"> <a href = <%= pedido_show_path(pedido)%>> <span class="glyphicon glyphicon-check" title="Finalizar"> </a></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
