<p id="notice"><%= notice %></p>

<p>
  <strong>Idvende:</strong>
  <%= @vende.idVende %>
</p>

<p>
  <strong>Idfornecedor:</strong>
  <%= @vende.idFornecedor %>
</p>

<p>
  <strong>Iditem:</strong>
  <%= @vende.idItem %>
</p>

<p>
  <strong>Data:</strong>
  <%= @vende.data %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @vende.valor %>
</p>

<%= link_to 'Edit', edit_vende_path(@vende) %> |
<%= link_to 'Back', vendes_path %>
