<p id="notice"><%= notice %></p>

<p>
  <strong>Idcompoe:</strong>
  <%= @componentes_produto.idCompoe %>
</p>

<p>
  <strong>Idproduto:</strong>
  <%= @componentes_produto.idProduto %>
</p>

<p>
  <strong>Iditem:</strong>
  <%= @componentes_produto.idItem %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @componentes_produto.quantidade %>
</p>

<%= link_to 'Edit', edit_componentes_produto_path(@componentes_produto) %> |
<%= link_to 'Back', componentes_produtos_path %>
