<%= form_for(@vende , url: vende_show_path(@vende.idVende, @vende.idFornecedor, @vende.idItem)) do |f| %>
  <% if @vende.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vende.errors.count, "error") %> prohibited this vende from being saved:</h2>

      <ul>
      <% @vende.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idVende %><br>
    <%= f.number_field :idVende %>
  </div>
  <div class="field">
    <%= f.label :idFornecedor %><br>
    <%= f.number_field :idFornecedor %>
  </div>
  <div class="field">
    <%= f.label :idItem %><br>
    <%= f.number_field :idItem %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
