<%= form_for(@item, url: item_show_path(@item)) do |f| %>
  
  
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label "Quantidade Minima" %><br>
    <%= f.number_field :quantidadeMinima %>
  </div>
  <br>
  <div class="actions">
	<%= f.submit "Cadastrar" %>
  </div>
<% end %>
