<p id="notice"><%= notice %></p>

<h1>Listing Vendes</h1>

<table>
  <thead>
    <tr>
      <th>Idvende</th>
      <th>Idfornecedor</th>
      <th>Iditem</th>
      <th>Data</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendes.each do |vende| %>
      <tr>
        <td><%= vende.idVende %></td>
        <td><%= vende.idFornecedor %></td>
        <td><%= vende.idItem %></td>
        <td><%= vende.data %></td>
        <td><%= vende.valor %></td>
        <td><%= link_to 'Show', vende_show_path(vende.idVende, vende.idFornecedor, vende.idItem) %></td>
        <td><%= link_to 'Edit', vende_edit_path(vende.idVende, vende.idFornecedor, vende.idItem) %></td>
        <td><%= link_to 'Destroy', vende_show_path(vende.idVende, vende.idFornecedor, vende.idItem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vende', vende_new_path %>
