<p id="notice"><%= notice %></p>

<h1>Lista de compras de itens</h1>

<table>
  <thead>
    <tr>
      <%@corFundo = "#4D5B69"%>
	  <th style="padding:0 0 0 15px; background-color: <%=@corFundo%>; color: white;">Idvende</th>
      <th style="padding:0 0 0 15px; background-color: <%=@corFundo%>; color: white;">Idfornecedor</th>
      <th style="padding:0 0 0 15px; background-color: <%=@corFundo%>; color: white;">Iditem</th>
      <th style="padding:0 0 0 15px; background-color: <%=@corFundo%>; color: white;">Data</th>
      <th style="padding:0 0 0 15px; background-color: <%=@corFundo%>; color: white;">Valor</th>
	  <th style="padding:0 0 0 15px; background-color: <%=@corFundo%>; color: white;">Opcoes</th>
	  <th style="padding:0 0 0 15px; background-color: <%=@corFundo%>; color: white;"></th>
	  <th style="padding:0 0 0 15px; background-color: <%=@corFundo%>; color: white;"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corFundo = []
	   @cor = []
	   @corFundo[0] = "#FFFFFF"
	   @cor[0] = "black"
	   @corFundo[1] = "#9CBCD3"
	   @cor[1] = "black"           #define as cores da tabela
	   @linha = 0
	   @coluna = 0
	%>
	<% @vendes.each do |vende| %>
      <% #indica a cor da tabela
		 if (@linha == 1)
           @coluna = 1
         else
		   @coluna = 0
		 end
		 
		 @linha = 1-@linha             #alterna as cores
	  %>
	  <tr>
        <td><%= vende.idVende %></td><%@coluna = 1-@coluna%>  
        <td><%= vende.idFornecedor %></td><%@coluna = 1-@coluna%> #continua alternando as cores em cada linha
        <td><%= vende.idItem %></td><%@coluna = 1-@coluna%>
        <td><%= vende.data %></td><%@coluna = 1-@coluna%>
        <td><%= vende.valor %></td><%@coluna = 1-@coluna%>
        <td><%= link_to 'Show', vende_show_path(vende.idVende, vende.idFornecedor, vende.idItem) %></td>
        <td><%= link_to 'Edit', vende_edit_path(vende.idVende, vende.idFornecedor, vende.idItem) %></td>
        <td><%= link_to 'Destroy', vende_show_path(vende.idVende, vende.idFornecedor, vende.idItem), method: :delete, data: { confirm: 'Voce tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'Voltar aos itens', item_index_path %>
