<p id="notice"><%= notice %></p>
<%= button_to "Cadastrar novo Item", item_new_path, :class => "btn green", :method => :get  %><br>
<%= button_to "Registrar compra de Itens", vende_new_path, :class => "btn green", :method => :get  %><br>
<%= button_to "Listar compras de itens", vende_index_path, :class => "btn btn-default", :method => :get  %><br>
<%= button_to "Consulta os Itens pelo nome", item_search_path, :class => "btn green", :method => :get  %><br>
<%= button_to "Relatorio dos Itens em falta", itens_falta_relatorio_path, :class => "btn green", :method => :get  %><br>

<h1>Lista de Itens</h1>

<%= render partial: 'item_table', locals: {items: @items } %>

<br>
<br>
