<% content_for :js do%>
  <%= javascript_tag do %>
    function printDiv(divName) {
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;

      window.print();

      document.body.innerHTML = originalContents;
    }
  <% end %>
<% end %>

<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-blue-sunglo">
			<span class="caption-subject bold uppercase">Lista de itens em falta</span>
		</div>
	</div>
	<%if @item.length == 0%>
		<p id="notice"><%= 'Não há itens em falta.' %></p>
	<%else%>
		<div id="print">
		<table class="table table-hover">
			<thead>
				<tr>
				<th>Nome</th>
				<th>Marca</th>
				<th>Quantidade</th>
				<th>Quantidade mínima</th>
				<th colspan="3"></th>
				</tr>
			</thead>
			<br>
			<tbody>
	
				<% @item.each do |item| %>
					<tr>
						<td><%= item.nome %></td>
						<td><%= item.marca %></td>
						<td><%= item.quantidade %></td>
						<td><%= item.quantidadeMinima %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		</div>
	
		<br>
		<%= link_to 'Imprimir', '', class: "btn btn-default" ,onclick: 'printDiv("print")' %> <br>
	<%end%>
	<br>
	<%= button_to 'Voltar', item_index_path, :class => "btn btn-default", :method => :get  %><br>
</div>
