<p id="notice"><%= notice %></p>

<p>
  <strong>Idvende:</strong>
  <%= @vende.idVende %>
</p>

<p>
  <strong>Idfornecedor:</strong>
  <%= @vende.idFornecedor %>
</p>

<p>
  <strong>Iditem:</strong>
  <%= @vende.idItem %>
</p>

<p>
  <strong>Data:</strong>
  <%= @vende.data %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @vende.valor %>
</p>

<%= link_to 'Edit', vende_edit_path(@vende.idVende, @vende.idFornecedor, @vende.idItem) %> |
<%= link_to 'Back', vende_index_path %>
