<p id="notice"><%= notice %></p>

<h1>Consultando Funcionario</h1>

  <%= form_for(funcionario_search_path) do |f| %>
  <div class="col-md-6">
    <%= f.label 'Nome:' %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Consulta", class: "btn green"%>
  </div>

<% end %>

<%= render partial: 'table', locals: {funcionarios: @funcionarios } %>

<br>
